@import url('https://fonts.google.com/specimen/Libre+Franklin');

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

h1 {
  margin-top: 20%;
  margin-bottom: 20px;
  font-weight: 700;
}

#ponto {
  color: hsl(223, 87%, 63%);
}

h2 {
  margin-bottom: 10px;
}

.soon {
  color: black;
  font-weight: 700;
}

header>div{
    flex-direction: column;
}

header>div>p{
  margin: -5px 54px 16px 50px;
  font-size: 13px;
}

input {
  border: 2px solid darkgray;
  height: 40px;
  width: 280px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.btn {
  width: 280px;
}

main {
  margin-top: 60px;
  margin-bottom: 60px;
}

img {
  width: 340px;
  margin: auto;
}

#face {
  margin-top: 8px;
  width: 20px;
}

#tt {
  margin-top: 8px;
  width: 30px;
}

#insta {
  margin-top: 8px;
  width: 30px;
}

#circulo-fundo {
  height: 50px;
  width: 50px;
  margin: 0px 0px 33px 55px;
}

.rede-social{
  margin-top: 40px;
}

footer>div{
  display: flex;
}